/***************/
/*SEVERAL PAGES*/
/***************/

.actor-portrait {
    border-radius: 50% !important;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2) !important;
}

.width-xs{
    max-width: 80%;
}

@media(min-width: 959px){
    .width-lg{
        max-width: 70%;
    }
}

@media (max-width: 959px) {
    .center-xs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .width-xs {
        max-width: 352px !important;
    }
    .small-font-xs-description * {
        font-size: 14px !important;
    }
}

/***********/
/*ACTOR PAGE*/
/***********/

.actor-photo-container {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    image-rendering: auto;
}

.actor-photo {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2) !important;
}

.actor-photo:hover {
    transform: scale(1.03);
    transition: all 0.3s;
    cursor: pointer;
}

.actor-photo:not(hover) {
    transition: all 0.3s;
}

.actor-portrait-actorpage {
    height: 200px !important;
    width: 200px !important;
    border: 2px solid white !important;
}

.portrait-offset-up {
    margin-top: -100px;
}

.dot > *::after {
    content: " •";
    margin-left: 4px;
    color: #999;
}

.dot > *:last-child::after {
    content: "";
}

/***********/
/*MOVIE PAGE*/
/***********/

.actor-portrait-moviepage:hover {
    transform: scale(1.11);
    transition: all 0.3s;
    cursor: pointer;
}

.actor-portrait-moviepage {
    height: 100px !important;
    width: 100px !important;
    border: 2px solid #29537659 !important;
    padding: 2px !important;
}

actor-photos-actorpage {
    border: 2px solid #29537659 !important;
    padding: 2px !important;
}

.center-portrait {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.justify-center-portrait {
    display: flex !important;
    justify-content: center !important;
}

.flex-equal {
    flex: 1 1 0;
    min-width: 0;
}

.color-wrapper * {
    color: rgba(0,0,0,0.65);
}

.inner-container-background {
    background: rgba(255, 255, 255, 0.88) !important;
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.75) !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 16px !important;
}

.backdrop-image {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.center-xs * {
    text-align: left;
}

.container-width {
    width: 1170px;
}

@media (max-width: 1280px) {
    .small-font-xs * {
        font-size: 17px !important;
    }
    .small-font-xs-portrait * {
        font-size: 14px !important;
    }

}

.movie-page-poster {
    display: block;
    width: 100%;
    max-width: 380px;
    height: auto;
    object-fit: cover;
    image-rendering: auto;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2) !important;
}


/***********/
/*HOME PAGE*/
/*********/
.movie-poster-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 2 / 3;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2) !important;
}

.movie-poster {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: auto;
}

.movie-rating {
    position: absolute;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, rgba(64, 4, 4, 0), rgba(59, 130, 246, 1));
    right: 0px;
    color: white;
    text-align: right;
    padding-right: 5px;
}

/*For changing the background of the MudInput-fields*/
.mud-input.mud-input-filled {
    background-color: #16202b !important;
}

.mud-input {
    --mud-palette-lines-inputs: rgba(100, 200, 255, 0.3) !important;
}

.movie-description {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.8rem;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    min-width: 105%;
}

/* When hovering over a movie card without a poster, hide h1/h3 text to reveal the description underneath */
.movie-poster-container:hover .not-found .mud-typography,
.movie-poster-container:hover .not-found .mud-typography {
    display: none !important;
}

.movie-poster-container:hover .movie-description {
    transform: translateY(0);
}

.movie-poster-container:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in;
}

.movie-poster-container:not(:hover) {
    transition: transform 0.3s ease-in;
}

.not-found {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: black;
    background-color: rgb(245, 248, 250);
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.appbar-container {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    max-width: 75%;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
