@using Services
@using Models
@inject ITMDBService TMDB
@inject ISnackbar Snackbar
@page "/"

<PageTitle>Home</PageTitle>

<MudPaper Class="d-flex justify-center" Style="min-height: 100vh; width: 100vw;" Elevation="0">
	<MudPaper Width="60%" Height="1000px" Square="true" Elevation="0" Style="height: 100%; overflow: scroll;">
		<MudGrid>
			@foreach (var movie in trendingMovies)
			{
				<MudItem xs="3">
					<MudPaper Class="d-flex align-center justify-center mud-width-full mt-8 movie-poster-container" Elevation="3">
						<MudImage 		
							Class="movie-poster"
							Src="@GetImageUrl(movie.PosterPath)"
								  Alt="Movie Poster"
								  Style="max-height: 100%; max-width: 100%; object-fit: cover;">

						</MudImage>
						<div class="movie-description">
							<h5>@movie.Title</h5>
							<p>@movie.Overview</p>
						</div>
					</MudPaper>
				</MudItem>
			}
		</MudGrid>
	</MudPaper>
</MudPaper>

@code {
	private List<Movie> trendingMovies = new();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			var reponse = await TMDB.GetTrendingMoviesAsync();
			trendingMovies = reponse ?? new List<Movie>();
			StateHasChanged();
		}

		catch
		{
			Snackbar.Add($"Something went wrong when trying to retrieve the movies.", Severity.Error);
		}
	}
	private string GetImageUrl(string posterPath)
	{
		return $"https://image.tmdb.org/t/p/w500{posterPath}";
	}
}