@using Services
@using Models
@inject ITMDBService TMDB
@inject ISnackbar Snackbar
@page "/"

<PageTitle>Home</PageTitle>

<MudPaper Class="d-flex justify-center" Style="min-height: 100vh; width: 100vw;" Elevation="0">
	<MudPaper Width="70%" Square="true" Elevation="0">
		<MudPaper>
			<p>Meme</p>


		</MudPaper>
		<MudGrid>
			@foreach (var movie in trendingMovies)
			{
				<MudItem xs="12" sm="6" md="4" lg="3">
					<MudPaper Class="d-flex align-center justify-center mud-width-full mt-7 movie-poster-container" Elevation="3">
						<div class="movie-rating">
							@if (movie.Rating != 0)
							{
								<h4>
									@String.Format("{0:.#}", movie.Rating) / 10
								</h4>
							}
							else
							{
								<p>Rating not found</p>
							}

						</div>
						<MudImage Class="movie-poster"
								  Src="@GetImageUrl(movie.PosterPath)"
								  Alt="Movie Poster">
						</MudImage>
						<div class="movie-description">
							<h3>@movie.Title</h3>
							<h4>@movie.Overview</h4>
						</div>
					</MudPaper>
				</MudItem>
			}
		</MudGrid>
	</MudPaper>
</MudPaper>

@code {
	private List<Movie> trendingMovies = new();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			var reponse = await TMDB.GetTrendingMoviesAsync();
			trendingMovies = reponse ?? new List<Movie>();
			StateHasChanged();
		}

		catch
		{
			Snackbar.Add($"Something went wrong when trying to retrieve the movies.", Severity.Error);
		}
	}
	private string GetImageUrl(string posterPath)
	{
		return $"https://image.tmdb.org/t/p/w500{posterPath}";
	}

}